<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINTER</title>
    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <img class="icon" src="../static/img/icon.png" alt="icon">
    <h2 class="title">WINTER</h2>
    <input id="textbox" type="text" placeholder="Message WINTER..." name="chat" autocomplete="off" autofocus required>
    <input type="button" value="">
</body>
</html>
