colorama==0.4.6
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl
googletrans==3.1.0a0
nltk==3.7
numpy==1.23.5
openai==0.25.0
pyjokes==0.6.0
pyttsx3==2.90
pywhatkit==5.4
pywin32==305
randfacts==0.19.0
spacy==3.4.3
SpeechRecognition==3.8.1
torch==1.13.0
tqdm==4.64.1
wikipedia==1.4.0
