nltk
numpy
openai
psutil
PyAudio
PyAutoGUI
pyjokes
pyttsx3
pywhatkit
pywin32
randfacts
requests
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
torch
urllib3
wikipedia
googletrans==3.1.0a0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl
