@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

:root
{
    --black: #2a2a2a;
    --white: #f9f9f9;
    --blue: #4882ff;
}

*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
}

nav ul
{
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

nav ul li
{
    margin: 30px 40px;
    cursor: pointer;
}

nav ul li a
{
    color: var(--black);
    text-decoration: none;
    transition: 0.2s;
}

nav ul li a:hover
{
    color: var(--blue);
    transition: 0.2s;
}

.Title
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 120px;
    text-align: center;
    cursor: default;
    font-weight: 900px;
}

#inputbox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    font-size: 15px;
    color: var(--white);
    background: var(--black);
    border: none;
    border-radius: 5px;
    outline: none;
    width: 800px;
    height: 45px;
    transition: 0.2s;
    z-index: 2;
}

#inputbox:hover
{
    color: var(--blue);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

#inputbox:focus
{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

#inputbtn
{
    position: absolute;
    top: 50%;
    left: 74%;
    transform: translate(-74%, -50%);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: var(--white);
    background: var(--black);
    border: none;
    border-radius: 5px;
    outline: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 2;
}

#inputbtn:hover
{
    color: var(--blue);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
	transition: 0.2s;
}

.santa-cap
{
    position: absolute;
    top: 22%;
    left: 29%;
    transform: translate(-29%, -22%);
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
    z-index: 1;
}
