<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINTER</title>

    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a title="Follow on Github." href="https://github.com/Light-Lens" target="_blank">Github</a></li>
                <li><a title="See research paper" href="../static/Project paper.pdf" target="_blank">Learn more</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3 class="Title">WINTER</h3>
        <img src="../static/santa cap.png" class="santa-cap">
        <form method="POST">
            <div class="formdiv">
                <input type="text" placeholder="What you want..." id="inputbox" name="inputbox" autocomplete="off" autofocus>
                <button id="inputbtn" type="submit">
                    <i class="material-symbols-outlined">mic</i>
                </button>
            </div>
        </form>
    </section>
</body>
</html>
